@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background: -webkit-linear-gradient(#FFBF00, #FF5F1F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}